In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

#!unzip csv_pus.zip
## convert the deye col
deye = {1: 'yes', 2:'no'}
df_new["DEYE"] = df_new["DEYE"].map(deye) 

# convert the region col
region = {1: 'Northeast', 2: 'Midwest', 3: 'South', 4: 'West', 9: 'Puerto Rico'}
df_new["REGION"] = df_new["REGION"].map(region)

# convert the st col
st = {1: 'Alabama', 2: 'Alaska', 4: 'Arizona', 5: 'Arkansas', 6: 'California', 8: 'Colorado', 9: 'Connecticut',
      10: 'Delaware', 11: 'District of Columbia', 12: 'Florida', 13: 'Georgia', 15: 'Hawaii', 16: 'Idaho', 17: 'Illinois',
      18: 'Indiana', 19: 'Iowa', 20: 'Kansas', 21: 'Kentucky', 22: 'Louisiana', 23: 'Maine', 24: 'Maryland', 
      25: 'Massachusetts', 26: 'Michigan', 27: 'Minnesota', 28: 'Mississippi', 29: 'Missouri', 30: 'Montana', 31: 'Nebraska',
      32: 'Nevada', 33: 'New Hampshire', 34: 'New Jersey', 35: 'New Mexico', 36: 'New York', 37: 'North Carolina',
      38: 'North Dakota', 39: 'Ohio', 40: 'Oklahoma', 41: 'Oregon', 42: 'Pennsylvania', 44: 'Rhode Island',45: 'South Carolina',
      46: 'South Dakota', 47: 'Tennessee', 48: 'Texas', 49: 'Utah', 50: 'Vermont', 51: 'Virginia', 53: 'Washington',
      54: 'West Virginia', 55: 'Wisconsin', 56: 'Wyoming', 72: 'Puerto Rico'}

df_new["ST"] = df_new["ST"].map(st) 

# convert division 
division = {0: 'Puerto Rico', 1: 'New England', 2: 'Middle Atlantic', 3: 'East North Central', 4: 'West North Central', 
          5: 'South Atlantic', 6:'East South Central', 7:'West South Central', 8:'Mountain', 9:'Pacific'}
df_new["DIVISION"] = df_new["DIVISION"].map(division)

sex = {1: 'Male', 2: 'Female'}
df_new["SEX"] = df_new["SEX"].map(sex)

#x = df_new.isna().any() == True
x = df_new.columns[df_new.isna().any()].tolist()
#len(x)
x

division_df = df_new['DIVISION'].value_counts()

division_df.plot.bar()
plt.xlabel("Division")
plt.ylabel("Number of people")
plt.title("Distribution of the Division")


df_new['AGEP'].describe()

df_new['AGEP'].describe()['min']



### group the age into bins

bins = [0, 18, 30, 40, 50, 60, 70, 120]
labels = ['0-17','18-29', '30-39', '40-49', '50-59', '60-69', '70+']
df_new['AGE_RANGE'] = pd.cut(df_new.AGEP, bins, labels = labels,include_lowest = True)
df_new.head(10)


ages = df_new['AGE_RANGE'].value_counts()
ages.sort_index()
ages.plot.bar()
plt.xlabel("Age Groups")
plt.ylabel("Number of people")
plt.title("Distribution of the ages")



plt.pie(vision,labels=vision.index,autopct='%1.1f%%')

#plt.axis('equal')
plt.title("Distribution of the Vision Difficulty")
plt.show()


plt.figure(figsize=(8,5))
sns.boxplot(x='DEYE',y='AGEP',data=df_new)
plt.title("Age by vision difficulty")
plt.xlabel("Presence of vision difficulty")
plt.ylabel("Age")



df_new2 = df_new[df_new['DEYE'] == 'yes']
df_new2.describe()

gender2 = df_new2['SEX'].value_counts()
gender2.plot.bar()
plt.xlabel("Sex")
plt.ylabel("Number of people")
plt.title("Distribution of the sex amongst the visually impaired")

In [ ]:
#reading the data file
df = pd.read_csv("Downloads/csv_pus/psam_pusa.csv")

In [ ]:
df.info() #obtaining basic information about the data

In [ ]:
df.columns #getting an overview of the columns in the data

In [ ]:
df.shape #an idea of the shape of the data which shows the rows and columns

In [ ]:
df.sample(5) #gives a random sample of the data

In [ ]:
def remove_housing_RT(df):
    """
    removes all rows that consis of the value H in the column RT
    Arguments:
    'df': A pandas DataFrame
    Outputs
    'df': A pandas DataFrame containing only the person record types
    """
    df['RT'] = df['RT'].str.strip()
    df_P_copy = df[df.RT != ("H")]
    df = df_P_copy
    return df

In [ ]:
remove_housing_RT(df).sample(5)

In [ ]:
len(df)

In [ ]:
Var_of_int = df.loc[:, ["REGION","DIVISION", "ST", "AGEP", "COW", "DEYE", "NWAV", "NWLA", "NWLK", "SCH", "SCHG", "SCHL", 
           "SEX", "WKL", "DIS", "ESR", "FOD1P", "FOD2P", "HICOV", "INDP", "NAICSP", "OCCP", "PERNP", "PINCP",
          "POWSP", "RAC1P", "RAC2P", "RAC3P", "RACAIAN", "RACASN", "RACBLK", "RACWHT", "SCIENGP", "SCIENGRLP",
          "SOCP", "FDEYEP", "PWGTP1", "ADJINC", "DDRS", "DEAR", "DOUT", "DPHY", "HINS4", "OIP", "PAP", "RETP", "SEMP", "SSIP", 
         "SSP", "WAGP", "DIS","PERNP", "PINCP", "POWSP"]]

In [ ]:
type(Var_of_int)

In [ ]:
Var_of_int.shape

In [ ]:
Var_of_int.sample(5)

In [ ]:
Var_of_int.info()

In [ ]:
Var_of_int.describe(include=object)

In [ ]:
Var_of_int.describe()

In [ ]:
##save the new df
Var_of_int.to_csv("psam_pusa_working.csv")

In [ ]:
df_working = pd.read_csv("psam_pusa_working.csv")

In [ ]:
df_working.head(5)

In [ ]:
grouped = df_working.groupby(['ST', 'DEYE']).size()
print(grouped)

In [ ]:
bins = [0, 18, 30, 40, 50, 60, 70, 120]
labels = ['0-17','18-29', '30-39', '40-49', '50-59', '60-69', '70+']
df_working['AGE_RANGE'] = pd.cut(df_working.AGEP, bins, labels = labels,include_lowest = True)
df_working.head(5)

In [ ]:
df_working['AGE_RANGE'].value_counts()

#grouped.plot.bar()

In [ ]:
df_working["DEYE"].value_counts()

In [ ]:
deye = {1: 'yes', 2:'no'}
df_working["DEYE"] = df_working["DEYE"].map(deye)

In [ ]:
df_working.head()

In [ ]:
df_working['DEYE'].value_counts()

In [ ]:
df_working["ST"].value_counts()

In [ ]:
st = {1: 'Alabama', 2: 'Alaska', 4: 'Arizona', 5: 'Arkansas', 6: 'California', 8: 'Colorado', 9: 'Connecticut',
      10: 'Delaware', 11: 'District of Columbia', 12: 'Florida', 13: 'Georgia', 15: 'Hawaii', 16: 'Idaho', 17: 'Illinois',
      18: 'Indiana', 19: 'Iowa', 20: 'Kansas', 21: 'Kentucky', 22: 'Louisiana', 23: 'Maine', 24: 'Maryland', 
      25: 'Massachusetts', 26: 'Michigan', 27: 'Minnesota', 28: 'Mississippi', 29: 'Missouri', 30: 'Montana', 31: 'Nebraska',
      32: 'Nevada', 33: 'New Hampshire', 34: 'New Jersey', 35: 'New Mexico', 36: 'New York', 37: 'North Carolina',
      38: 'North Dakota', 39: 'Ohio', 40: 'Oklahoma', 41: 'Oregon', 42: 'Pennsylvania', 44: 'Rhode Island',45: 'South Carolina',
      46: 'South Dakota', 47: 'Tennessee', 48: 'Texas', 49: 'Utah', 50: 'Vermont', 51: 'Virginia', 53: 'Washington',
      54: 'West Virginia', 55: 'Wisconsin', 56: 'Wyoming', 72: 'Puerto Rico'}

df_working["ST"] = df_working["ST"].map(st)

In [ ]:
df_working["ST"].value_counts()

In [ ]:
region = {1: 'Northeast', 2: 'Midwest', 3: 'South', 4: 'West', 9: 'Puerto Rico'}
df_working["REGION"] = df_working["REGION"].map(region)

In [ ]:
df_working["REGION"].value_counts()

In [ ]:
state_dis = df_working.groupby(df_working["ST"]).size()

#plt
#Var_of_int.plot.bar(x=["ST"], rot=0, color ='r')
#plt.title('State distribution ')
#plt.ylabel('States')

In [ ]:
state_dis.plot.bar(x=["ST"], color = 'r')

agep = Var_of_int.groupby(Var_of_int["AGEP"]).size()
print(agep)

In [ ]:
nwav = {'b': 'N/A, less than 16 years/at work/not looking', 1:'Yes', 2: 'No, temporarily ill', 
        3: 'No, other reasons', 4: 'No, unspecified', 5: 'Did not report' }
df_working["NWAV"] = df_working["NWAV"].map(nwav)

df_working['NWAV'].value_counts()