In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
#reading the dataset all the respondents who self reported as havin vision difficulty, with specific columns of interest
df = pd.read_csv("psam_pusab_working_data.csv")

In [3]:
df.shape

(82994, 52)

In [4]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'REGION', 'DIVISION', 'ST', 'AGEP', 'COW',
       'DEYE', 'NWAV', 'NWLA', 'NWLK', 'SCH', 'SCHG', 'SCHL', 'SEX', 'WKL',
       'DIS', 'ESR', 'FOD1P', 'FOD2P', 'HICOV', 'INDP', 'NAICSP', 'OCCP',
       'PERNP', 'PINCP', 'POWSP', 'RAC1P', 'RAC2P', 'RAC3P', 'RACAIAN',
       'RACASN', 'RACBLK', 'RACWHT', 'SCIENGP', 'SCIENGRLP', 'SOCP', 'FDEYEP',
       'ADJINC', 'DDRS', 'DEAR', 'DOUT', 'DPHY', 'HINS4', 'OIP', 'PAP', 'RETP',
       'SEMP', 'SSIP', 'SSP', 'WAGP', 'PWGTP'],
      dtype='object')

In [5]:
df.drop(columns = ["Unnamed: 0", "Unnamed: 0.1"])

,REGION,DIVISION,ST,AGEP,COW,DEYE,NWAV,NWLA,NWLK,SCH,...,DPHY,HINS4,OIP,PAP,RETP,SEMP,SSIP,SSP,WAGP,PWGTP
0,2,4,29,41,NaN,1,5.0,3.0,3.0,1.0,...,2.0,1,0.0,0.0,600.0,0.0,0.0,0.0,0.0,61
1,2,4,29,72,NaN,1,5.0,3.0,3.0,1.0,...,1.0,1,0.0,0.0,0.0,0.0,0.0,8900.0,0.0,107
2,2,4,29,85,NaN,1,5.0,3.0,3.0,1.0,...,2.0,2,0.0,0.0,0.0,0.0,0.0,10800.0,0.0,125
3,2,4,29,85,NaN,1,5.0,3.0,3.0,1.0,...,2.0,2,0.0,0.0,0.0,0.0,0.0,10800.0,0.0,11
4,2,4,29,52,NaN,1,5.0,2.0,2.0,1.0,...,2.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82989,3,6,28,65,NaN,1,5.0,2.0,2.0,1.0,...,1.0,2,0.0,0.0,6400.0,0.0,0.0,7600.0,0.0,229
82990,3,6,28,69,NaN,1,5.0,2.0,2.0,1.0,...,1.0,2,0.0,0.0,0.0,0.0,0.0,13500.0,0.0,221
82991,3,6,28,49,1.0,1,1.0,2.0,2.0,1.0,...,2.0,2,0.0,0.0,0.0,0.0,0.0,0.0,45000.0,26
82992,3,6,28,13,NaN,1,NaN,NaN,NaN,2.0,...,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37
82993,3,6,28,83,NaN,1,3.0,2.0,2.0,1.0,...,2.0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60

In [6]:
df['NWAV'].value_counts()

5.0    71837
3.0     3547
1.0     2052
2.0     1645
Name: NWAV, dtype: int64

In [7]:
df['NWLK'].value_counts()

2.0    44838
3.0    32202
1.0     2041
Name: NWLK, dtype: int64

In [8]:
df['SCHL'].value_counts()

16.0    22155
19.0    10119
21.0     7860
18.0     5543
20.0     5144
17.0     4691
22.0     3379
1.0      3339
14.0     3014
13.0     2979
11.0     2536
15.0     2432
12.0     2358
9.0      1345
10.0     1094
23.0      879
8.0       721
6.0       694
24.0      668
7.0       606
5.0       391
4.0       282
3.0       280
2.0       209
Name: SCHL, dtype: int64

In [9]:
df['SCIENGP'].value_counts()

2.0    8667
1.0    4119
Name: SCIENGP, dtype: int64

In [10]:
df['FOD1P'].value_counts()

2300.0    904
6203.0    703
6107.0    675
2304.0    606
6200.0    585
         ...
1199.0      1
5001.0      1
2416.0      1
4006.0      1
6202.0      1
Name: FOD1P, Length: 172, dtype: int64

In [11]:
dw = pd.ExcelFile("Desktop/Copy of WebAIMMillionTopBottom50000.xlsx")

In [12]:
dw.sheet_names

['MillionTop50000', 'MillionBottom50000']

In [13]:
top = pd.read_excel(dw, 'MillionTop50000')
bottom = pd.read_excel(dw, 'MillionBottom50000')

In [14]:
WAM = pd.concat([top, bottom]).reset_index()
WAM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 125 entries, index to ul
dtypes: float64(2), int64(119), object(4)
memory usage: 95.4+ MB

In [15]:
WAM.columns

Index(['index', 'rank', 'URL', 'TLD', 'accessrank', 'totalerrors',
       'totalelements', 'errordensity', 'totalalerts', 'accessrank3',
       ...
       'h5', 'h6', 'iframe', 'ol', 'table_caption', 'table_data', 'th',
       'th_col', 'th_row', 'ul'],
      dtype='object', length=125)

In [ ]:
WAM['CAT']=no.where(WAM['categories'].str.contains('IAB22'), shopping)

In [ ]:
WAM['']df[“column_name”] = np.where(df[“column_name”]==”some_value”, value_if_true, value_if_false)

In [ ]:

allDat=pd.concat([top,bottom]).reset_index()
allDat=allDat.drop(columns=['index'])

shopTop = top.loc[top['categories'].str.contains('IAB22', na=False)]
shopBottom = bottom.loc[bottom['categories'].str.contains('IAB22', na=False)]
#select all other data for comparisons
otherTop = top.loc[~top['categories'].str.contains('IAB22', na=False)]
otherBottom = bottom.loc[~bottom['categories'].str.contains('IAB22', na=False)]